// Animation SCSS
@include keyframes(fadeIn) {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@include keyframes(scrollLeftOne) {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-70%);
    }
}

@include keyframes(scrollLeftTwo) {
    0% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(-70%);
    }
}