// Typography SCSS
a {
    color: $link;
    &:hover {
        color: darken($link, 10%);
    }
}

b,
strong {
    font-weight: 700;
}

body {
    font-family: $font-nunito;
    font-weight: 400;
    color: $gray-700;
    font-size: 18px;
    line-height: 28px;
}