// About US SCSS
.about-section {
    background-color: $primary;
    height: 674px;
    padding-top: 104px;
    @include laptop {
        background-image: url(../../assets/images/svg/hero-bg.svg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        height: 624px;
        background-color: transparent;
    }
    @include tablet {
        padding-top: 91px;
        height: 482px;
    }
}

.about-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 58px;
    flex-shrink: 0;
    @include laptop {
        margin-right: 0;
        margin-top: 60px;
        margin-bottom: -30px;
        text-align: center;
        align-items: center;
    }
    @include tablet {
        margin: 0 auto;
        max-width: 294px
    }
    & h1 {
        font-family: $font-poppins;
        color: $white;
        font-size: 58px;
        line-height: 1.19;
        letter-spacing: -0.035em;
        margin-bottom: 21px;
        @include tablet {
            margin-top: 0;
            font-size: 30px;
            font-weight: 500;
            line-height: 36px;
            letter-spacing: -0.035em;
            margin-bottom: 15px;
        }
        & span {
            font-weight: 600;
            position: relative;
            display: inline-block;
            @include tablet {
                display: block;
            }
            &::before {
                content: "";
                position: absolute;
                background-image: url(../../assets/images/svg/about.svg);
                width: 150px;
                height: 16px;
                bottom: -11px;
                left: -27px;
                @include tablet {
                    width: 63px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    bottom: -13px;
                    left: 53px;
                }
            }
        }
    }
    & p {
        font-size: 18px;
        color: $secondary-800;
        font-weight: 600;
        line-height: 25px;
        @include tablet {
            padding: 0 10px;
            margin-bottom: 13px;
        }
    }
    & .btn {
        display: none;
        @include tablet {
            display: block;
            margin-bottom: 15px;
        }
    }
    & img {
        display: none;
        @include tablet {
            display: block;
        }
    }
}

.misson-section {
    margin-top: -248px;
    @include laptop {
        margin-top: -198px;
    }
    @include tablet {
        margin-top: -106px;
    }
}

.misson-block {
    background-color: #EFF8FF;
    border-radius: 29px;
    padding: 114px 0 0 111px;
    display: flex;
    position: relative;
    @include laptop {
        flex-direction: column;
        padding: 100px 100px 0;
    }
    @include tablet {
        overflow: hidden;
        padding: 52px 15px 120px;
    }
    &:before {
        width: 1160px;
        height: 416px;
        position: absolute;
        content: "";
        background-image: url(../../assets/images/svg/about-dots.svg);
        top: -62px;
        left: -69px;
        z-index: 0;
        @include tablet {
            display: none;
        }
    }
}

.misson-text {
    max-width: 467px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    @include laptop {
        max-width: 100%;
        margin-bottom: 60px;
        align-items: center;
        text-align: center;
    }
    @include tablet {
        margin-bottom: 28px;
        position: static;
        margin-bottom: 0;
    }
    & .heading {
        margin-bottom: 37px;
    }
    & p {
        font-family: $font-inter;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 36px;
        @include tablet {
            font-family: $font-nunito;
        }
    }
    & .btn {
        @include tablet {
            position: absolute;
            bottom: 35px;
        }
    }
}

.misson-image {
    position: relative;
    margin-top: 11px;
    left: -15px;
    @include laptop {
        left: 0;
    }
    & img {
        max-width: initial;
        @include desktop {
            min-width: 650px;
            max-width: 100%;
        }
        @include tablet {
            min-width: 417px;
            max-width: 100%;
            margin-left: 50%;
            position: relative;
            transform: translateX(-50%);
        }
    }
}

.environment-section {
    padding: 190px 0;
    @include desktop {
        padding: 140px 0;
    }
    @include laptop {
        padding: 140px 0 40px;
    }
    @include tablet {
        padding: 60px 0 60px;
    }
}

.environment-block {
    display: flex;
    align-items: center;
    @include laptop {
        flex-direction: column-reverse;
    }
}

.environment-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 516px;
    flex-shrink: 0;
    margin-left: -20px;
    margin-top: 102px;
    @include laptop {
        align-items: center;
        max-width: 100%;
        flex-shrink: 0;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
    }
    @include tablet {
        margin-bottom: 27px;
    }
    & .heading {
        margin-bottom: 44px;
        @include tablet {
            max-width: 200px;
            margin-bottom: 37px;
            margin-left: -20px;
        }
        & h3 {
            text-align: left;
        }
        & img {
            margin-right: 12px;
            @include tablet {
                width: 48px;
            }
        }
    }
    & p {
        font-family: $font-inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        @include tablet {
            font-family: $font-nunito;
        }
    }
}

.environment-image {
    margin-left: -80px;
    @include laptop {
        margin-left: 0;
    }
    & img {
        max-width: initial;
        @include desktop {
            max-width: 100%;
        }
        @include tablet {
            min-width: 370px;
        }
    }
}